body{
    background-color: rgb(0, 255, 221);
}
img{
    width: 40%;
    height: 40%;
}
h5{
    color: rgb(252, 3, 3);
    font-style: italic;
    font-size: medium;
    text-align: center;
}
header{
    background-color: black; 
    color: gold;
}
#menu{
    display: block;
    text-align: center;
}
.book:hover{
    color: navy;
    background-color: gold;
}
    

